.main-inner {
    width: 50%;
    margin: 0 auto 100px auto;
}

.main-title {
    text-align: center;
    margin: 70px 0px 100px 0px;
}

.main-form__label {
    font-size: 25px;
    font-weight: 700;
}

.main-form__input {
    width: 100%;
    height: 40px;
}

.main-form__error {
    padding-bottom: 50px;
    color: red;
}

.main-dorm__submit {
    width: 100%;
    height: 50px;
    margin-top: 80px;
    background-color: #FF5555;
    border: none;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 700;
}

.main-link {
    text-align: center;
    margin-top: 50px;
}

.main-link__login {
    text-decoration: none;
    color: #0073CC;
    font-size: 20px;
    font-weight: 400;
}   