.header{
    height: 80px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
}

.header__logo {
    height: 40px;
    width: auto;
}

@media (max-width: 1000px) {
    .header__logo {
        width: 180px;
    }
}

@media (max-width: 600px) {
    .header__logo {
        width: 130px;
    }
}

.header-form {
    flex: 1;
    max-width: 700px;
}

.header-form__text{
    height: 45px;
    width: 100%;
    padding-left: 20px;
    font-size: 18px;
}

.header-button__logout,
.header-link__login,
.header-link__mupage,
.header-link__sell {
    color: #FFFFFF;
    margin-left: 15px;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
}

.header-link__sell {
    background-color: #FFFFFF;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
}

.header-button__logout{
    background-color: #000000;
    border: none;
}