.main-inner {
    width: 50%;
    max-width: 800px;
    margin: 0 auto 100px auto;
}

.main-form__image{
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .main-inner {
        width: 90%;
    }
}

.main-title {
    text-align: center;
    margin: 70px 0px 100px 0px;
}

.main-form__image{
    display: flex;
}

.img-content{
    border-radius: 50%;
}

.noimage-cont{
    background-color: gray;
    border-radius: 50%;
}

.form__input-image{
    color: #FF5555;
    border: solid 2px #FF5555;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: auto;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
}

.main-form__label {
    font-size: 25px;
    font-weight: 700;
}

.main-form__input {
    width: 100%;
    height: 40px;
}

.main-form__error {
    padding-bottom: 50px;
}

.main-dorm__submit {
    width: 100%;
    height: 50px;
    margin-top: 80px;
    background-color: #FF5555;
    border: none;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 700;
}

.main-link {
    text-align: center;
    margin-top: 50px;
}

.main-link__login {
    text-decoration: none;
    color: #0073CC;
    font-size: 20px;
    font-weight: 400;
}

.main-form__error{
    color: red;
}