.main-inner{
    width: 90%;
    margin: 100px auto;
}

.top{
    display: flex;
    justify-content: space-between;
}

.top-content{
    display: flex;
    width: 50%;
    border-bottom: solid 1px #000000;
    padding-bottom: 50px;
    font-size: 25px;
}

.top-content__image{
    width: 30%;
    margin-right: 40px;
}

.center__title{
    margin-left: 20px;
}

.top-content__detail-name{
    margin: 0px auto 0px 0px;
    white-space: nowrap;
}

.pay-table{
    border: solid 1px #000000;
    width: 40%;
    text-align: center;
}

.pay-table__td{
    border-bottom: solid 1px #000000;
    height: 140px;
}

.bl_selectCont {
    display: none;
}

.bl_selectCont.is_active {
    display: revert;
}

.pay-form{
    display: flex;
    justify-content: space-between;
}

.pay-form__select{
    margin: 40px auto 40px 200px;
    height: 30px;
    appearance: none;
    padding-right: 10%;
}

.pay-form__submit{
    background-color: #FF5555;
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 700;
    border: none;
    width: 40%;
    height: 90px;
    margin-top: 100px;
}

.select{
    width: 100%;
}

.pay-form__select__triangle{
    position: relative;
    left: -22px;
    font-size: 12px;
}

.bottum{
    width: 70%;
    border-bottom: solid 1px #000000;
    border-top: solid 1px #000000;
}

.buttum__title{
    margin-left: 20px;
    white-space: nowrap;
}

.bottum-header{
    display: flex;
    justify-content: space-between;
}

.bottum__destination-link{
    margin: 30px auto auto 480px;
    color: #0073CC;
    text-decoration: none;
    white-space: nowrap;
}

.bottom__destination{
    margin: auto auto 40px 100px;
    font-weight: 600;
}

.post_code{
    display: flex;
}

.post_code-mark{
    font-size: 20px;
}

.bottom__destination--post_code{
    border: none;
    font-weight: 600;
    font-size: 20px;
}

.bottom__destination--address{
    border: none;
    font-weight: 600;
    font-size: 20px;
}

@media (max-width: 900px) {

    .main-inner {
        width: 95%;
        margin: 40px auto;
    }

    .top {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .top-content {
        width: 100%;
        flex-direction: row;
        align-items: center;
        font-size: 20px;
    }

    .top-content__image {
        width: 35%;
        margin-right: 20px;
    }

    /* 文字がはみ出すようなら折り返しOKに */
    .top-content__detail-name {
        white-space: normal;
    }

    /* 支払いテーブルは全幅 */
    .pay-table {
        width: 100%;
        margin-top: 20px;
    }

    /* 支払い方法フォームを縦並びに */
    .pay-form {
        flex-direction: column;
        align-items: center;
    }

    .pay-form__select {
        margin: 20px 0;
    }

    .pay-form__submit {
        width: 100%;
        font-size: 24px;
        height: 70px;
        margin-top: 30px;
    }

    .bottum {
        width: 100%;
        border-bottom: solid 1px #000000;
        border-top: solid 1px #000000;
    }

    /* 下の青帯エリアのレイアウト調整 */
    .bottum-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .bottum__destination-link {
        margin: 10px 0 0 20px;
    }

    .bottom__destination {
        margin: 10px 0 20px 20px;
    }
}

@media (max-width: 600px) {
    .top-content {
        flex-direction: column;
        text-align: center;
    }

    .top-content__image {
        width: 60%;
        margin: 0 0 15px 0;
    }
}


    