.main-inner{
    width: 90%;
    margin: 100px auto;
}

.top{
    display: flex;
    justify-content: space-between;
}

.top-content{
    display: flex;
    width: 50%;
    border-bottom: solid 1px #000000;
    padding-bottom: 50px;
    font-size: 25px;
}

.top-content__image{
    width: 30%;
    margin-right: 40px;
}

.center__title{
    margin-left: 20px;
}

.top-content__detail-name{
    margin: 0px auto 0px 0px;
}

.pay-table{
    border: solid 1px #000000;
    width: 550px;
    text-align: center;
}

.pay-table__td{
    border-bottom: solid 1px #000000;
    height: 140px;
}

.bl_selectCont {
    display: none;
}

.bl_selectCont.is_active {
    display: revert;
}

.pay-form{
    display: flex;
    justify-content: space-between;
}

.pay-form__select{
    margin: 40px auto 40px 200px;
    height: 30px;
}

.pay-form__submit{
    background-color: #FF5555;
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 700;
    border: none;
    width: 550px;
}

.bottum{
    width: 50%;
    border-bottom: solid 1px #000000;
    border-top: solid 1px #000000;
}

.buttum__title{
    margin-left: 20px;
}

.bottum-header{
    display: flex;
}

.bottum__destination-link{
    margin: 30px auto auto 550px;
    color: #0073CC;
    text-decoration: none;
}

.bottom__destination{
    margin: auto auto 40px 100px;
    font-weight: 600;
}

.bottom__destination--post_code{
    border: none;
    font-weight: 600;
}

.bottom__destination--address{
        border: none;
        font-weight: 600;
    }