.main-inner {
    width: 700px;
    margin: 0 auto 100px auto;
}

.main-title {
    text-align: center;
}

.main-form__image-submit{
    border: solid 1px #5F5F5F;
    text-align: center;
}

.form__input-image {
    color: #FF5555;
    border: solid 2px #FF5555;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: 50px auto;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
}

.main-form__label {
    font-size: 25px;
    font-weight: 700;
}

.main-form__label-description{
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
    display: block;
}

.price-wrap {
    position: relative;
    display: inline-block;
    width: 100%;
}

.yen-mark {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    pointer-events: none;
}

.main-form__input {
    width: 100%;
    height: 40px;
}

.main-form__input-price{
    width: 100%;
    height: 40px;
    padding-left: 30px;
}

.main-form__condition-select{
    width: 100%;
    height: 40px;
    appearance: none;
}

.select__triangle {
    position: relative;
    left: 670px;
    top: -35px;
    font-size: 12px;
}

.main-form__condition-option{
    background-color: #B1B1B1;
}

.main-form__error {
    padding-bottom: 50px;
    color: red;
}

.subtitle__text{
    font-size: 30px;
    font-weight: 700;
    color: #5F5F5F;
    margin-bottom: 0px;
    border-bottom: solid 1px #5F5F5F;
}

.main-dorm__submit {
    width: 100%;
    height: 50px;
    margin-top: 80px;
    background-color: #FF5555;
    border: none;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 700;
}

.main-form__text{
    width: 100%;
    height: 200px;
}

.subtitle__text{
    border-bottom: solid 1px #5F5F5F;
}

.subtitle{
    margin-bottom: 30px;
}

.main-form__category{
    display: flex;
    flex-wrap: wrap;
}

.main-dorm__category-checkbox{
    display: none;
}

.main-form__category-list{
    margin: 20px 5px;
}

.main-form__category-label{
    color: #FF5655;
    font-weight: 500;
    font-size: 15px;
    border: solid 2px #FF5655;
    border-radius: 15px;
    padding: 3px 20px;
}

.main-dorm__category-checkbox:checked+.main-form__category-label {
    background-color: #ff6f61;
    color: white;
}